
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.user-img {
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eee;
}